{% extends 'base.html'%}
    {% block title %}로딩 중{% endblock %}
    {% load static %}
    {% block content %}

    <style>

      body {
        font-family: "Noto Sans KR", sans-serif;
        background-color: #faf9f5;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden; 
        margin-top: -150px;
      }

      .main-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
      }

      .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 50px;
      }

      #text1 {
        font-size: 25px;
        font-weight: 600;
        color: #4b2a0b;
        margin: 0 auto;
      }

      #text2 {
        font-size: 20px;
        font-weight: 600;
        color: #885c33;
      }
      .pepero-img {
        position: relative;
        width: 200px;
        height: 200px; 
        margin-right: 5vw;
        transform: rotate(-15deg);
      }
      
      .pepero-img img {
        animation: float 3s ease-in-out infinite;
      }
      #pepero {

        position: absolute;
        z-index: 1;
      }
      
      #chocoImage {
        position: absolute;
        z-index: 2;
      }
      
      #decoImage {
        position: absolute;
        z-index: 3;
      }
      
      #sauceImage {

        position: absolute;
        z-index: 4;
      }
      #letter{
        margin-top:5vw;
        margin-left: 5vw;
      }

    </style>
<body>
    <section class="main-form">
      <div class="header">
        <p id="text1">익명으로 전송중 .....</p>
        <p id="text2">빼빼로가 친구집에 놀러가고 있어요!</p>
      </div>
      <div class="pepero-img">
        <!-- Replace the src attribute with the correct path to your image -->
        <img src = "{% static 'assets/pepero.png' %}" id = "pepero">
        <img src="" id ="chocoImage"/>
        <img src="" id ="sauceImage"/>
        <img src="" id = "decoImage"/>
        <img src = "{% static 'assets/letterOnly.png' %}" id = "letter">
        
      </div>
    </section>
  </body>
    <script>
      // DOM이 완전히 로드된 후 실행될 함수
      window.onload = function () {
        // 2000밀리초(2초) 후에 실행될 함수를 setTimeout을 이용하여 설정
        setTimeout(function () {
          // 편지 보관함으로 리다이렉트
          window.location.href = "{% url 'pepero:pepero_end' %}";

        }, 2000);
      }; 
      document.addEventListener('DOMContentLoaded', function () {
        const chocoImage = document.getElementById('chocoImage');
        const selectedChoco = "{{ request.session.selected_choco }}";
        console.log(selectedChoco)
        if (selectedChoco === '기본') {
          chocoImage.src = "{% static 'assets/pepero.png' %}";
        } else if (selectedChoco === '초코') {
          chocoImage.src = "{% static 'assets/choco.png' %}";
        } else if (selectedChoco === '딸기') {
          chocoImage.src = "{% static 'assets/strawberry.png' %}";
        } else if (selectedChoco === '화이트') {
          chocoImage.src = "{% static 'assets/whitechoco.png' %}";
        } else if (selectedChoco === '녹차') {
          chocoImage.src = "{% static 'assets/greentea.png' %}";
        } else {
          chocoImage.src = "{% static 'assets/blueberry.png' %}";
        }
    });
      document.addEventListener('DOMContentLoaded', function () {
          const sauceImage = document.getElementById('sauceImage');
          const selectedSauce = "{{ request.session.selected_sauce }}";
          console.log(selectedSauce)
          if (selectedSauce === '기본') {
            sauceImage.src = "";
          } else if (selectedSauce === '초코시럽') {
            sauceImage.src = "{% static 'assets/chocosyrup.png' %}";
          } else if (selectedSauce === '딸기시럽') {
            sauceImage.src = "{% static 'assets/strawberrysyrup.png' %}";
          } else if (selectedSauce === '화이트시럽') {
            sauceImage.src = "{% static 'assets/whitechocosyrup.png' %}";
          } else if (selectedSauce === '녹차시럽') {
            sauceImage.src = "{% static 'assets/greenteasyrup.png' %}";
          } else {
            sauceImage.src = "{% static 'assets/blueberrysyrup.png' %}";
          }
      });
      document.addEventListener('DOMContentLoaded', function () {
        const decoImage = document.getElementById('decoImage');
        const selectedDeco = "{{ request.session.selected_deco }}";
        console.log(selectedDeco)
        if (selectedDeco === '기본') {
          decoImage.src = "";
        } else if (selectedDeco === '아몬드') {
          decoImage.src = "{% static 'assets/almonddeco.png' %}";
        } else if (selectedDeco === '오레오') {
          decoImage.src = "{% static 'assets/oreodeco.png' %}";
        } else if (selectedDeco === '하트') {
          decoImage.src = "{% static 'assets/hartdeco.png' %}";
        } else if (selectedDeco === '별') {
          decoImage.src = "{% static 'assets/stardeco.png' %}";
        } else {
          decoImage.src = "{% static 'assets/sprinklesdeco.png' %}";
        }
    });
    </script>
  {% endblock %}
